@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
$blue: #304ffe;
$darkblue: #0026ca;
$red: red;
$lightgrey: #f8f8fa;
body {
  margin: 0;
  font-family: 'Arial', 'sans-serif';
}

.header {
  background: $blue;
  border-top: 1rem solid $darkblue;
  display: flex;
  align-items: center;
  h1 {
    color: white;
    margin: 0 0 0 1rem;
    padding: 0;
    line-height: 7rem;
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  form {
    margin-left: 2rem;
    color: white;
  }
  .mdc-form-field {
    margin-left: 1rem;
    label {
      color: white;
    }
  }
}

.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate)~.mdc-checkbox__background {
  border-color: white;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox::before,
.mdc-checkbox::after {
  background-color: $red;
  border-color: $red;
}

.players {
  display: grid;
  grid-gap: 2rem;
  margin: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  @media screen and (min-width: 430px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 860px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (min-width: 1320px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media screen and (min-width: 1620px) {
    & {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.player {
  position: relative;
  border: 1px solid $lightgrey;
  height: 350px;
  background-color: white;
  background-position: top;
  background-repeat: none;
  background-size: 90% 25%; // border-radius: .8rem;
  transition: all .6s;
  z-index: 0;
  &:hover,
  &:focus {
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  img {
    width: 90%;
    margin: 1rem auto 0;
    display: block;
    max-height: 190px;
  }
}

.player__img {
  display: none;
}

.player__name {
  position: absolute;
  z-index: 1;
  color: black;
  bottom: 2rem;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; // text-shadow: 5px 5px rgba(0, 0, 0, .2);
  text-align: center;
  padding-top: 265px;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}